
body {
    margin: 0;
    height: 100vh;
    background-image: url('../content/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    padding: 0;
}

.szoveg {
  margin-top: 100px;
}

.tartalom h1 {
  font-size: 100px;
  text-align: center;
  color: white;
}

.szoveg {
  color: #3e3e3e;
  text-align: justify;
  margin: 50px;
  line-height: 200%;
  font-weight: bold;
}

.szoveg img {
  position: static;
  width: 100%;
}

.jeloles {
  color: white;
  text-decoration:none;
}

.tartalom {
   position: static;
   margin: auto;
   width: 75%;
   height: 280vh;
   background-color: #d99999;
   box-sizing: border-box;
}

.tartalom #lent{
   position: static;
   bottom: 0;
   left: 0;
   width: 100%;
   object-fit: cover;
   border: none;
   margin: 0px;
}
