body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
  }

ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 100;
}

ul#navbar li {
  position: relative;
}


ul#navbar li a {
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
  font-weight: bold;
  text-align: center;
}


ul#navbar li a:hover {
  color: #2cb35e;
}


ul#navbar li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #2cb35e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}


ul#navbar li a:hover::before,
ul#navbar li a:focus::before {
  transform: scaleX(1);
}

.social-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}


.social-icon img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.social-icon img:hover {
  filter: grayscale(0%);
}
