body {
    margin: 0;
    height: 100vh;
    background-image: url('../content/background.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    padding: 0;
}

.tartalom {
   display: flex;
   justify-content: center;
   position: static;
   margin: auto;
   width: 75%;
   height: 200vh;
   background-color: #d99999;
   box-sizing: border-box;
   padding-top: 100px;
   align-items: center;
}

.tartalom p {
  position: relative;
  margin: 50px;
}
