body {
    background-color: #080d10;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    padding-top: 100px;
}

.tartalom {
   display: flex;
   justify-content: center;
   position: static;
   margin: auto;
   width: 75%;
   height: 200vh;
   background-color: #d99999;
   box-sizing: border-box;
   padding-top: 100px;
   align-items: center; 
}

.tartalom p {
  position: relative;
  margin: 50px;
}

.doboz {
  color: #3e3e3e;
  text-decoration: none;
  text-align: justify;
  margin: 10px;
  border-radius: 20px;
  border: none;
  height: 550px;
  overflow: hidden;
  position: relative;
  box-shadow: none;
  line-height: 200%;
  margin-top:inherit;
}

iframe {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 10px;
}

.doboz a {
  color: #fff;
}